body {
    background-color: mediumspringgreen;
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: rgba(47, 79, 79, 0.884);
}

h2 {
    text-align: center;
    color: darkslategray;
}

h3 {
    text-align: center;
    color: darkslategray;
}

.projects
{ 
    display:flex; 
    flex-wrap:wrap; 
}

.project 
{
width: 30%;
margin: 10px;
padding: 20px 10px;
background: white; 
border-radius: 25%;
}

.project img{
width: 95%;
height: auto;
margin: 10px;
border: 2px solid rgba(97, 226, 166, 0.432); 
display: block;
margin: auto;
}

a { 
text-decoration: none;
color: purple;
}

.project p { 
text-align: center;
margin: 15px;
}

.about{
display:flex;
flex-wrap:wrap;
margin-right: 100px;
margin-left: 100px;
justify-content: center;
}

.about img {
width: 150px;
height: 200px;
border-radius: 25%;
border: 2px solid rgb(126, 14, 201);
}

.about p {
width:50%;
text-align: center;
margin: auto;
line-height: 125%;
}

#proto {
width: 75%;
height: 75%
}